<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://sdk-cdn.mypurecloud.com/javascript/28.0.0/purecloud-platform-client-v2.min.js"></script>
  <link rel="stylesheet" href="libs/font-awesome.min.css">
  <link rel="stylesheet" href="libs/bootstrap.min.css">
  <script src="libs/moment-with-locales.js"></script>
  <script src="libs/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <table class="calendar table table-bordered">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th v-for="weekday in weekdays" width="20%">{{weekday}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="time in timeSlotsInDay">
          <th>{{time}}</th>
          <td v-for="weekday in weekdays" :class="{'no-events': eventMap[weekday][time].event.type == 'empty', 'has-events': eventMap[weekday][time].event.type != 'empty'}">
            <div v-if="eventMap[weekday][time].event.type !='empty'" class="lecture" :class="{'callback': eventMap[weekday][time].event.type == 'callback'}" style="width: 99%;" :style="{'height': ((eventMap[weekday][time].event.durationInMinutes()/timeslot)*20-1) + 'px'}">
              <img src="img/phone.svg" v-if="eventMap[weekday][time].event.type == 'callback'">
              <span class="title">{{eventMap[weekday][time].event.title}}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
